* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
}

h2{
    margin: 10px 20px 10px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
}

p {
    color: #0c97cb;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
    background: rgba(250,250,250,0);
}

.borde {
    border: 1px solid black;
}

/*NAVEGACION*/
nav {
    width: 100%;
    height: 60px;
    margin-top: 1px;
    z-index: 2;
}

.logo {
    width: 13%;
    height: 100%;
    float: left;
    text-align: center;
}

    .logo img {
        width: 35%;
        height: 100%;
        margin-top: 1px;
        margin-bottom: 2px;
        border-radius: 100%;
    }
/*Inicio de Buscador*/
.navegacion {
    width: 68%;
    height: 100%;
    float: left;
}

.list_navegacion {
    width: 80%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    margin-left: 35px;
}

/*Nivel 0*/
nav ul {
    list-style: none;
    text-align: right;
    background: rgba(255, 255, 255, 0.6);
}

nav ul li {
    margin-right: 0px;
    width: 130px;
    background: rgba(255, 255, 255, 0.0);
}

nav ul li:hover ul {
    display: block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #FF9F1C;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px 2px;
    border-bottom: 2px solid #d17900;
}

nav ul li a:hover {
    background: rgba(189, 189, 189, 0.5);
}
/*Nivle 1*/
nav li ul {
    position: absolute;
    z-index: 2;
}

nav .list_navegacion > ul > li {
    display: inline-block;
}

nav li ul {
    position: absolute;
    display: none;
}
/*Fin del Buscador*/
/*Cerrar sesion - inicio*/
.cerrar {
    width: 19%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.registrarse {
    margin-top: 15px;
}

body div.cerrar a {
    font-size: 15px;
    color: #FF9F1C;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
}

body div.cerrar a:hover {
    background: rgba(189, 189, 189, 0.5);
    text-decoration: underline;
    color: #0C97CB;
}

.btn-cerr-ses {
    color: #0C97CB;
    background: #ffffff;
    margin: auto;
    margin-top: 2px;
    padding: 2px 10px 0px;
    cursor: pointer;
    font-size: 20px;
    border-style: none
}
/*Cerrar sesion - fin*/
/*INDICE-HEDER*/
header {
    width: 100%;
    height: 50px;
    margin-top: 1px;
    text-align: center;
    padding-top: 5px;
}

.fondo_tifblue {
    background: #2EC4B6;
}
.titulo1{
    color:#ffffff;
}
/*fin*/
/*Inicio  formulario*/
.Formulario {
    width: 100%;
    height:auto;
    float: left;
    padding-bottom:30px;
    padding-top: 30px;
    background-color: #001d86;
    background-image: url(../img/fondo3.png);
    margin-bottom:10px;
}
section{
    background:rgba(250,250,250,0);
}
.form-registro {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: #ffff;
    border-radius: 7px;
    background-color: #CBF3F0;
}

.borde-naran {
    border: 2px solid #FFBF69;
}

.form-titulo {
    width: 100%;
    background: #2EC4B6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #0C97CB;
    margin-left: 0px;
    margin-top: 0px;
}

.cont-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #CBF3F0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 10%;
}
.labelCorreo {
    float: left;
    background: #CBF3F0;
    font-size: 28px;
    margin-left: 20%;
    color: #0C97CB;
}
.label {
    float: left;
    background: #CBF3F0;
    font-size: 28px;
    margin-left: 28%;
    color: #0C97CB;
}
.labelconfirmar {
    float: left;
    background: #CBF3F0;
    font-size: 28px;
    margin-left: 14%;
    color: #0C97CB;
}
.labelRemember {
    color: #0C97CB;
    float: left;
    background: #CBF3F0;
    font-size: 13px;
    margin-left: 53%;
}

input {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #0C97CB;
}
.input {
    width: 90%;
    margin-bottom: 10px;
}

.fondo_azulcla {
    background: #CBF3F0;
}
.checkbox{
    background: #CBF3F0;
    width:60%;
    font-size:15px;
}
.btn-iniciar {
    background: #0C97CB;
    color: #ffffff;
    margin: auto;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 2%;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 25px;
    transform: scale(1);
}

.btn-regis {
    background: #0C97CB;
    color: #ffffff;
    margin: auto;
    margin-top: 10px;
    margin-left: 23%;
    margin-bottom: 5%;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 25px;
    transform: scale(1);
}
span {
    font-size: small;
    width: 80%;
    color: #FF9F1C;
    background: #CBF3F0;
}

.btn-enviar {
    transform: scale(1);
}
.div-fin {
    padding-top:15px;
    margin-left: 0%;
    background: rgba(250,250,250,0);
    
}
.form-link {
    width: 150px;
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    color: #FF9F1C;
    background: rgba(250,250,250,0);
}
/*Boton de salida*/
.btn_salida {
    background-color: #CBF3F0;
    margin-left: 30.5%;
}

    .btn_salida ul {
        list-style: none;
        text-align: right;
        background: #CBF3F0;
    }

        .btn_salida ul li {
            display: inline-block;
            width: 180px;
            background-color: #CBF3F0;
        }

            .btn_salida ul li a {
                display: block;
                text-decoration: none;
                color: #FFBF69;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin-right: 60px;
                border-bottom: 2px solid #ffa124;
            }

                .btn_salida ul li a:hover {
                    background: rgba(189, 189, 189, 0.4);
                }

div.cont-input div.btn_salida ul li {
    display: none;
}
ul li {
    display: none;
}

/*Fin*/
