*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 10px 20px 10px;
    text-align: center;
    font-size: 23px;
    color: #0c97cb;
}
p{
    color: #0c97cb;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    margin-top: 30px;
    padding-bottom: 20px;
}
.borde{
    border: 1px solid black;
}

/*NAVEGACION*/
nav {
    width: 100%;
    height: 60px;
    margin-top: 1px;
    z-index: 2;
}

.logo {
    width: 13%;
    height: 100%;
    float: left;
    text-align: center;
}

    .logo img {
        width: 35%;
        height: 100%;
        margin-top: 1px;
        margin-bottom: 2px;
        border-radius: 100%;
    }
/*Inicio de Buscador*/
.navegacion {
    width: 68%;
    height: 100%;
    float: left;
}

.list_navegacion {
    width: 100%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    margin-left: 35px;
}

/*Nivel 0*/
nav ul {
    list-style: none;
    text-align: right;
    background: rgba(255, 255, 255, 0.6);
}

    nav ul li {
        margin-right: 0px;
        width: 130px;
        background: rgba(255, 255, 255, 0.0);
    }

        nav ul li:hover ul {
            display: block;
        }

        nav ul li a {
            display: block;
            text-decoration: none;
            color: #FF9F1C;
            font-weight: bold;
            text-align: center;
            font-size: 12px;
            margin-top: 10px;
            padding: 10px 2px;
            border-bottom: 2px solid #d17900;
        }

            nav ul li a:hover {
                background: rgba(189, 189, 189, 0.5);
            }
/*Nivle 1*/
nav li ul {
    position: absolute;
    z-index: 2;
}

nav .list_navegacion > ul > li {
    display: inline-block;
}

nav li ul {
    position: absolute;
    display: none;
}
/*Fin del Buscador*/
/*Cerrar sesion - inicio*/
.cerrar {
    width: 19%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.registrarse {
    margin-top: 15px;
}

body div.cerrar a {
    font-size: 15px;
    color: #FF9F1C;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
}

    body div.cerrar a:hover {
        background: rgba(189, 189, 189, 0.5);
        text-decoration: underline;
        color: #0C97CB;
    }

.btn-cerr-ses {
    color: #0C97CB;
    background: #ffffff;
    margin: auto;
    margin-top: 2px;
    padding: 2px 10px 0px;
    cursor: pointer;
    font-size: 20px;
    border-style: none
}
/*Fin del Buscador*/
/*Cerrar sesion - inicio*/
.cerrar{
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
}

body div.cerrar a {
    font-size: 18px;
    color: #FF9F1C;
    text-decoration: none;
}

/*INDICE-HEDER*/
header{
    width: 100%;
    height: 50px;
    margin-top: 1px;
    text-align: center;
    padding-top: 7px;

}
.indice{
    margin-top: 5px;
    font-size: 20px;
    color: #FFFFFF;
}
.fondo_tifblue{
    background: #2EC4B6;
}
main{
    width: 100%;
    height: 577px;
    background-image: url(../img/fondo3.png);
}
.cont_opc{
    margin-left: 3.3%;
    margin-top: 80px;
    width: 21%;
    height: 400px;
    float: left;
    background: #CBF3F0;
    border-radius: 10%;
    padding-bottom: 10px;
}
.img-centro{
    margin-left: 20%;
    margin-top: 10%;
    width: 60%;
    height: 140px;
    border-radius: 100%;
    background: #6799e4;
}


/*Inicio boton ir*/
.btm_ir{
    width: 100%;
    height: 50px;
    float: left;
}
.btn_ir ul{
list-style: none;
text-align: center;
}
.btn_ir ul li{
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}
.btn_ir ul li a{
    display: block;
    text-decoration: none;
    color: #FFBF69;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}
.btn_ir ul li a:hover{
    background: rgba(150, 187, 185, 0.4);
}
.btn_his{
    margin-top: -35px;
}
.btn_per{
    margin-top: -1px;
}
.btn_fav{
    margin-top: -2px;
}.btn_car{
    margin-top: -22px;
}
/*fin boton ir*/

/*Boton de salida*/
.btm_salida{
    width: 100%;
    height: 6%;
    padding-bottom: 7px;
    float: right;
}
.btn_salida ul{
list-style: none;
text-align: right;
}
.btn_salida ul li{
    display: inline-block;
    width: 180px;
}
.btn_salida ul li a{
    display: block;
    text-decoration: none;
    color: #FFBF69;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 60px;
    margin-top: 15px;
    border-bottom: 2px solid #ffa124;
}
.btn_salida ul li a:hover{
    background: rgba(189, 189, 189, 0.4);
}
