*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 10px 20px 10px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    background-color: #CBF3F0;
}

h3{
    margin: 10px 20px 10px;
    background-image:url(../img/fondo3.png) ;
    color:#FF9F1C;
}
p{
    color: #0c97cb;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}
.borde{
    border: 1px solid black;
}

/*Comienzo de historial*/
main{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    background-image: url(../img/fondo3.png);
}
.Esp_tablas{
    width: 100%;
    height: 450px;
    background: none;
    
    padding-top: 80px;


}
.pe_realizados {
    width: 100%;
    height: auto;
    float: inline-end;
}
.Pe_cancelados{
    width: 45%;
    height: auto;
    float: right;
}
main div.Esp_tablas div.pe_realizados div.titulo_realizados p{
    text-align: center;
    font-size: 30px;
    background:#0C97CB;
    margin: 0px;
    color: #ffffff;
}
main div.Esp_tablas div.Pe_cancelados div.titulo_cancelados p{
    text-align: center;
    font-size: 30px;
    background:#0C97CB;
    margin: 0px;
    color: #ffffff;
}
/*Boton de salida*/
.btn_salida{
    width: 100%;
    height: 6%;
    padding-bottom: 7px;
    float: right;
    background-image: url(../img/fondo3.png);
}
.btn_salida ul{
list-style: none;
text-align: right;
background-image: url(../img/fondo3.png);
}
.btn_salida ul li{
    display: inline-block;
    width: 180px;
    background:rgba(133, 0, 255, 0);
}
.btn_salida ul li a{
    display: block;
    text-decoration: none;
    color: #FFBF69;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 100px;
    margin-top: 15px;
    border-bottom: 2px solid #ffa124;
}
.btn_salida ul li a:hover{
    background: rgba(189, 189, 189, 0.4);
}



.input-50{
    width: 48%;
    padding-left: 200px;
    border-color: #0C97CB;
    border-radius: 10px;
}