*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 10px 20px 10px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    background-color: #CBF3F0;
}
p{
    color: #0c97cb;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}
.borde{
    border: 1px solid black;
}
/*Formulario inicio*/
.Formulario{
    width: 100%;
    height: auto;
    float: left;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #001d86;
    background-image: url(../img/fondo3.png);
}

.form-registro{
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: #ffff;
    border-radius: 7px;
    background-color: #CBF3F0;
}
.borde-naran{
    border: 2px solid  #FFBF69;
}
.form-titulo{
    width: 100%;
    background: #2EC4B6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #0C97CB;
    margin-left: 0px;
    margin-top: 0px;
}
.cont-input{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #CBF3F0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
select{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #0C97CB;
    align-content: center;
    color:#808080;
}
.producto{
    width: 48%;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #0C97CB;

}
label {
    font-size: 20px;
    border-radius: 3px;
    background: none;
    color: #0C97CB;
}
.input-50{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-regis{
    background: #0C97CB;
    color: #ffffff;
    margin: auto;
    margin-top: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 20px;
}
.form-link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    color: #FF9F1C;
    background-color: #CBF3F0;
}
.btn-enviar{
    transform: scale(1);
}

 