@model Pamano.Core.Domain.Usuarios

@{
    ViewData["Title"] = "Crear nuevo Usuario";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section create{

    <link href="~/css_admin/registrar_proveedor_ADMINISTRADOR.css" rel="stylesheet" />
}



<div class="Formulario">
    <form onsubmit="return validacion()" asp-action="Create" class="form-registro"s>
        <h2 class="form-titulo">Registro De Nuevo Usuario</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="cont-input">
            <label asp-for="IdUsuario"  class="input-100" s>Documento de Identidad</label>
            <input asp-for="IdUsuario" id="Cedula" class="input-100" type="number" />
            <span asp-validation-for="IdUsuario" class="text-danger"></span>


            <label asp-for="IdRol" class="input-100">Tipo de Usuario</label>
            <select asp-for="IdRol" id="selector" class="input-100" asp-items="ViewBag.IdRol"></select>


            <label asp-for="PrimerNombre" class="input-100">Primer Nombre</label>
            <input asp-for="PrimerNombre" id="nombres" class="input-100" />
            <span asp-validation-for="PrimerNombre" class="text-danger"></span>


            <label asp-for="SegundoNombre" class="input-100">Segundo Nombre</label>
            <input asp-for="SegundoNombre" id="nombres" class="input-100" />
            <span asp-validation-for="SegundoNombre" class="text-danger"></span>

            <label asp-for="PrimerApellido" class="input-100">Primer Apellido</label>
            <input asp-for="PrimerApellido" id="apellidos" class="input-100" />
            <span asp-validation-for="PrimerApellido" class="text-danger"></span>


            <label asp-for="SegundoApellido" class="input-100">Segundo Apellido</label>
            <input asp-for="SegundoApellido" id="apellidos" class="input-100" />
            <span asp-validation-for="SegundoApellido" class="text-danger"></span>

            <label asp-for="IdTipoTelefono" class="input-100">Tipo de telefono</label>
            <select asp-for="IdTipoTelefono" id="selector" class="input-100" asp-items="ViewBag.IdTipoTelefono"></select>
            

            <label asp-for="Telefono" class="input-100"> Numero Telefono</label>
            <input asp-for="Telefono" type="number" class="input-100" />
            <span asp-validation-for="Telefono" class="text-danger"></span>

            <input type="submit" value="Crear" class="btn-regis btn-enviar">
            <p class="form-link"><a class="form-link" asp-controller="Home" asp-action="CuentaAdmin">VOLVER</a></p>
        </div>
    </form>
</div>

@section Scripts {
    @{ @*await Html.RenderPartialAsync("_ValidationScriptsPartial");*@

        <script src="~/js/js_admi/registrar_proveedor_ADMINISTRADOR.js"></script>

    }
}
