@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesion";
}
<!-- Encabezado -->
<header class="fondo_tifblue">
    <div>
        <h1 class="fondo_tifblue titulo1">@ViewData["Title"]</h1>
    </div>
</header>


<div>
    <div class="Formulario">
        <section>
            <form id="account" method="post" class="form-registro">
                <h4 class="form-titulo">Iniciar Session</h4>
                <div asp-validation-summary="All" class="cont-input">

                    <label class="labelCorreo" asp-for="Input.Email">Correo Electronico</label>
                    <span asp-validation-for="Input.Email" class="advertencia"></span>
                    <input asp-for="Input.Email" class="input" />


                    <label class="label" asp-for="Input.Password">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="advertencia"></span>
                    <input asp-for="Input.Password" class="input" />


                    <div class="checkbox fondo_azulcla">
                        <label class="labelRemember" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <input type="submit" class="btn-iniciar" value="Iniciar" />
                </div>
            </form>
            <div class="btn_salida">
                <ul class="salida">
                    <li></li>
                    <li class="salida"><a asp-area="" asp-controller="Home" asp-action="Index">Volver</a></li>
                </ul>
            </div>
            <div class="div-fin">
                <p class="">
                    <a id="forgot-password" class="form-link" asp-page="./ForgotPassword">¿Olvido su Contraseña?</a>
                </p>
                <p class="">
                    <a class="form-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a>
                </p>
            </div>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
