@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<header class="fondo_tifblue">
    <div>
        <h1 class="fondo_tifblue titulo1">@ViewData["Title"]</h1>
    </div>
</header>

<div>
    <div class="Formulario">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-registro">
            <h4 class="form-titulo">Crear una nueva Cuenta</h4>
            <hr />
            <div asp-validation-summary="All" class="cont-input">

                <label class="labelCorreo" asp-for="Input.Email">Correo Electronico</label>
                <span asp-validation-for="Input.Email" class="advertencia"></span>
                <input asp-for="Input.Email" class="input" />



                <label class="label" asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="advertencia"></span>
                <input asp-for="Input.Password" class="input" />



                <label class="labelconfirmar" asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="advertencia"></span>
                <input asp-for="Input.ConfirmPassword" class="input" />

                <input type="submit" class="btn-regis" value="Registrarse">
                <div class="btn_salida">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Volver</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
        
            
        
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
