@model Pamano.Core.Domain.OrdenDeCompra

@{
    ViewData["Title"] = "Crear orden";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section create{
    <link href="~/css_admin/registrar_proveedor_ADMINISTRADOR.css" rel="stylesheet" />

}
<div class="Formulario">

    <form asp-action="Create" id="formulario" onsubmit="return validacion()" class="form-registro">
        <h2 class="form-titulo">Crear Orden de Compra</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="cont-input">

            <label asp-for="IdProducto" class="control-label">Producto</label>
            <select asp-for="IdProducto" class="input-100" asp-items="ViewBag.IdProducto"></select>

            <label asp-for="CantidadProducto" class="input-100">Cantidad Producto</label>
            <input asp-for="CantidadProducto" class="input-100" />
            <span asp-validation-for="CantidadProducto" class="text-danger"></span>

            <label asp-for="NombreDelProveedor" class="input-100">Nombre del Proveedor</label>
            <input asp-for="NombreDelProveedor" asp-items="ViewBag.NombreDelProveedor " class="input-100" />
            <span asp-validation-for="NombreDelProveedor" class="text-danger"></span>

            <label asp-for="CorreoElectronico" class="input-100">Correo Electronico</label>
            <input asp-for="CorreoElectronico" class="input-100" />
            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>

            <label asp-for="ValorUnitarioDelProducto" class="input-100">Valor Unitario Del Producto</label>
            <input asp-for="ValorUnitarioDelProducto" class="input-100" />
            <span asp-validation-for="ValorUnitarioDelProducto" class="text-danger"></span>

            <label asp-for="ValorTotalDelProducto" class="input-100">Valor Total Del Producto</label>
            <input disabled asp-for="ValorTotalDelProducto" class="input-100" />
            <span asp-validation-for="ValorUnitarioDelProducto" class="text-danger"></span>

            <input type="submit" value="Crear" class="btn-regis btn-enviar">
            <p class="form-link"><a class="form-link" asp-controller="Home" asp-action="CuentaAdmin">VOLVER</a></p>

        </div>
    </form>
</div>

@section Scripts{

    <script src="~/js/verificarcreacionproducto.js"></script>
}
