@model Pamano.Core.Domain.OrdenDeCompra

@{
    ViewData["Title"] = "Editar Orden de compra";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}



<h4>OrdenDeCompra</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOrdenDeCompra" />
            <div class="form-group">
                <label asp-for="NombreDelProveedor" class="control-label"></label>
                <input asp-for="NombreDelProveedor" class="form-control" />
                <span asp-validation-for="NombreDelProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitarioDelProducto" class="control-label"></label>
                <input asp-for="ValorUnitarioDelProducto" class="form-control" />
                <span asp-validation-for="ValorUnitarioDelProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotalDelProducto" class="control-label"></label>
                <input asp-for="ValorTotalDelProducto" class="form-control" />
                <span asp-validation-for="ValorTotalDelProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadProducto" class="control-label"></label>
                <input asp-for="CantidadProducto" class="form-control" />
                <span asp-validation-for="CantidadProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

