@model Pamano.Core.Domain.OrdenDeCompra

@{
    ViewData["Title"] = "Editar Orden de Compra";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section list{
    <link href="~/css_admin/registrar_proveedor_ADMINISTRADOR.css" rel="stylesheet" />
}
<div class="Formulario">
    <form asp-action="Edit" class="form-registro" onsubmit="return validacion()" method="post">
        <h3 class="form-titulo">Editar Orden de compra</h3>
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="IdOrdenDeCompra" />
        <div class="cont-input">

            <label asp-for="NombreDelProveedor" class="input-100">Nombre del Proveedor</label>
            <input asp-for="NombreDelProveedor" type="text" class="input-100" >

            <label asp-for="ValorUnitarioDelProducto" class="input-100">Valor unitario</label>
            <input asp-for="ValorUnitarioDelProducto" type="number" class="input-100" >

            <label asp-for="ValorTotalDelProducto" class="input-100">Valor Total</label>
            <input asp-for="ValorTotalDelProducto" type="number" class="input-100" >
            
            <label asp-for="Producto" class="input-100">Producto</label>
            <input asp-for="Producto" type="text" class="input-100" >
            
            <label asp-for="Telefono" class="input-100">Telefono</label>
            <input asp-for="Telefono" type="number" class="input-100" >

            <input type="submit" value="Guardar" class="btn-regis" />
            
            <a class="form-link" asp-action="Index">Volver al listado</a>
        </div>
    </form>
</div>
