@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/views/Shared/_Navegador.cshtml";
}
@section Estilo_datos_correo{
    <link href="~/css_cliente/estilos_datosp_clien.css" rel="stylesheet" />
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="Formulario">
    <form id="change-password-form" method="post" class="form-registro">

        <div asp-validation-summary="All" class="text-danger"></div>
        <h2 class="form-titulo">Cambiar Contraseña</h2>
        <div class="cont-input">
            <label asp-for="Input.OldPassword">Contraseña Actual</label>
            <input asp-for="Input.OldPassword" class="input-100" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

            <label asp-for="Input.NewPassword"> Contraseña Nueva</label>
            <input asp-for="Input.NewPassword" class="input-100" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

            <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
            <input asp-for="Input.ConfirmPassword" class="input-100" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <input type="submit" class="btn-regis btn-enviar" value="Actualizar Contraseña">
            <p class="form-link"><a class="form-link" asp-controller="Home" asp-action="Index">Volver</a></p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}