@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/iewa/Shared/_Navegador.cshtml";
}
@section Estilo_datos_correo{
    <link href="~/css_cliente/estilos_datosp_clien.css" rel="stylesheet" />
    }

<div class="Formulario">
    <form id="set-password-form" method="post" class="form-registro">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class ="form-titulo">Actualizar Contraseña</h2>
        <div class="form-group">
            <label asp-for="Input.NewPassword">Contraseña Actual</label>
            <input asp-for="Input.NewPassword" class="form-control" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Set password</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}