@model Pamano.Core.Domain.Inventario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}

<h1>Create</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdOrdenDeCompra" class="control-label"></label>
                <select asp-for="IdOrdenDeCompra" class ="form-control" asp-items="ViewBag.IdOrdenDeCompra"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdOrdenDeVenta" class="control-label"></label>
                <select asp-for="IdOrdenDeVenta" class ="form-control" asp-items="ViewBag.IdOrdenDeVenta"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPedido" class="control-label"></label>
                <select asp-for="IdPedido" class ="form-control" asp-items="ViewBag.IdPedido"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class ="form-control" asp-items="ViewBag.IdProducto"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

