@model Pamano.Core.Domain.OrdenDeVenta


@{
    ViewData["Title"] = "Crear Nueva Venta";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section create{
    <link href="~/css_admin/registrar_proveedor_ADMINISTRADOR.css" rel="stylesheet" />
}
<div class="Formulario">
    
    <form asp-action="Create" class="form-registro" onsubmit="return validacion()" method="post">
        <h2 class="form-titulo">Registro de Proveedores</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="cont-input">

            <label asp-for="CantidadDelProducto" class="control-label">Cantidad Del Producto</label>
            <input asp-for="CantidadDelProducto" type="number" id="Cantidad" name="CantidadDelProducto" placeholder="Cantidad" class="input-100" />

            <label asp-for="ValorUnitario" class="control-label">Valor Por Unidad</label>
            <input asp-for="ValorUnitario" type="number" id="ValorUnitario" name="ValorUnitario" placeholder="Valor Por Unidad" class="input-100" />

            <label asp-for="ValorTotal" class="control-label">Valor Total</label>
            <input disabled asp-for="ValorTotal" type="number" id="ValorTotal" name="ValorTOtal" placeholder="Valor Total" class="input-100" />

            <label asp-for="FechaDeVenta" class="control-label">Fecha de la venta</label>
            <input asp-for="FechaDeVenta" type="date" class="input-100">

            <label asp-for="IdUsuarioNavigation" class="control-label">Id del vendedor</label>
            <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>


            <input type="submit" value="Registrar" class="btn-regis" />
            <div class="form-link">
                <a asp-action="Principal" class="form-link">Volver</a>
            </div>
        </div>
    </form>
</div>
